@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


/*      Header      */
header{
    position: relative;
}

.container_1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: wheat;
    height: 80px;
}

.container_1 h2{
    font-size: 1.5em;
    position: relative;
    left: 20px;
    background-color: #4296ca;
}

.container_1 h2, footer h2{
    background-image: linear-gradient(
        45deg,
        #ca4272 16.666%, 
        #E16541 16.666%, 
        #E16541 33.333%, 
        #F18F43 33.333%, 
        #F18F43 50%, 
        #a9c648 50%, 
        #b8d260 66.666%, 
        #376ce0 66.666%, 
        #45aacb 83.333%, 
        #da40c5 83.333%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}

.container_1 h2:hover, footer h2:hover{
    animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}

@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 650%;
    }
    40% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }
}

@keyframes rainbow-text-simple-animation {
    0% {
        background-size: 100%;
    }
    80% {
        background-size: 650%;
    }
    100% {
        background-size: 650%;
    }
}

header li{
    margin: 20px;
    padding-right: 30px;
    display: inline;
}
    

header a {
    color: black;
    text-decoration: none;
}

/*      Main        */

/*      Navigation section    */

.section-nav{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px; 
    background-color: white; 
    margin-top: 20px;
}

.section-nav .nav ul li{
    display: inline-flex;
    margin: 20px;
    padding: 10px 10px;
    font-size: 17px;
    position: relative;
}


.section-nav .nav ul li a{
    color: black;
    text-decoration: none;
    position: relative;
    font-size: 1em;
    font-weight: 800;
    margin-left: 30px;
}

.section-nav .nav ul li a:hover,
.section-nav .nav ul li a.active{
    color: #F18F43;
}

.section-nav .nav ul li a.active::after{
    content: "";
    width: 60%;
    height: 3px;
    background: #F18F43;
    position: absolute;
    bottom: -2px;
    right: 20px;

}

.section-nav .nav ul li #a3::after {
    content: "";
    position: absolute;
    background: #F18F43;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s, ease;
}

.section-nav .nav ul li #a3:hover:after{
    width: 60%; 
}

.section-nav .products {
    position: relative; 
  }

.section-nav .dropdown {
    background-color: #F18F43;
    padding: 1em 0;
    position: absolute;
    display: none;
    border-radius: 8px;
    top: 35px;
    z-index: 1;
  }
  
.section-nav .dropdown li + li {
    margin-top: 2px;
  }

.section-nav .dropdown li {
    padding: 5px 5px;
    width: 11em;
    height: auto;
    text-align: center;
  }
  
.section-nav .dropdown li:hover {
    background-color: white;
    border-radius: 5px;
  }

.section-nav .products:hover .dropdown {
    display: block;
  }

  /*       Mobile Navigation     */

  .nav-bar{
    overflow: hidden;
    background: hsl(0 0% 0% / 0.8);
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
    display: none;
}

.nav-bar span{
    font-size:20px;
    cursor:pointer; 
    padding-left: 10px;
    color: wheat;
}

.nav-bar span:hover{
    color:#E16541;
}

.nav-bar li{
    margin: 20px;
    display: inline;
}

.nav-bar a {
    color: wheat;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

  }
  
  .nav-bar a:hover {
    color: #E16541;
  }
  

  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: hsl(0 0% 10% / 0.75);
    backdrop-filter: blur(1rem);
    overflow-x: hidden;
    transition: 1s;
  }
  
  .overlay #nav{
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 55px;
  }

  .overlay #nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 2px;
    right: 25px;
    font-size: 40px;
    color: #E16541;
  }
  .overlay .closebtn:hover{
    color: wheat;
  }

  .nav-bar .dropdown-content li{
    position: relative;
    display: none;
  }

  .nav-bar .dropdown-content li a:hover{
    color:rgb(243, 181, 25);
  }

  .nav-bar .products:hover .dropdown-content li{
    display: initial;
  }



  /*         Intro Banner       */

.banner-intro{
    position: relative;
    bottom: 40px;
    background-color: rgb(225, 219, 201);
    background-image: url("Images/Banner/11.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right 80%;
    background-blend-mode:multiply;
    padding-top: 130px;
    padding-bottom: 130px;
    transform: scale(0.8)
}

.banner-intro .intro{
    position: relative;
    left: 10%;
}

.banner-intro :is(h4, h2){
    color: white;
    font-size: 60px;
}

.banner-intro h1{
    color: #F18F43;
    font-size: 80px;
    font-weight: 900;
}

.banner-intro p{
    color:black;
    font-size: 20px;
    font-weight: bolder;
}

.banner-intro button{
    position: relative;
    color: black;
    font-weight: bolder;
    font-size: 20px;
    text-decoration: none;
    background-color: white;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    left: 150px;
    top: 30px;
}

.banner-intro button:hover{
    background-color:rgb(215, 127, 11);
    color: whitesmoke;
}


/*     Feature Section    */
.section-feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 75px 50px;
    flex-wrap: wrap;
}

.section-feature .fe-box1, .fe-box2, .fe-box3, .fe-box4, .fe-box5, .fe-box6{
    width: 180px;
    text-align: center;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    margin-bottom: 20px;
}

.section-feature .fe-box1, .fe-box4{
    border: 1px solid rgb(165, 227, 220);
}

.section-feature .fe-box2{
    border: 1px solid rgb(244, 158, 244);
}

.section-feature .fe-box3{
    border: 1px solid rgb(131, 244, 184);
}

.section-feature .fe-box5{
    border: 1px solid rgb(203, 147, 231);
}

.section-feature .fe-box6{
    border: 1px solid rgb(244, 205, 158);
}

.section-feature .fe-box1:hover, .fe-box2:hover, .fe-box3:hover, .fe-box4:hover, .fe-box5:hover, .fe-box6:hover{
    box-shadow: 10px 10px 54px rgba(70,62,221,0.1);
    -webkit-transform: scale(1.05);
    z-index: 1;
}

.section-feature .fe-box1 img, .fe-box2 img, .fe-box3 img, .fe-box4 img, .fe-box5 img, .fe-box6 img{
    width: 80%;
    margin-bottom: 10px;
    cursor: pointer;
}

.section-feature .fe-box1 h6, .fe-box2 h6, .fe-box3 h6,.fe-box4 h6, .fe-box5 h6, .fe-box6 h6 {
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: black;
    display: inline-block;
}

.section-feature .fe-box1 h6, .fe-box4 h6{
    background-color: rgb(165, 227, 220);
}

.section-feature .fe-box2 h6{
    background-color: rgb(244, 158, 244);
}

.section-feature .fe-box3 h6{
    background-color: rgb(131, 244, 184);
}

.section-feature .fe-box5 h6{
    background-color: rgb(203, 147, 231);
}

.section-feature .fe-box6 h6{
    background-color: rgb(244, 205, 158);
}


/*    Featured Product     */
.fea-h2{
    position: relative;
    text-align: center;

}

.fea-h2:hover {
    transition: 0.3s ease;
    -webkit-transform: scale(1.05);
    z-index: 1;
    overflow-x:auto;
}

.fea-h2 h2 a{
    text-decoration: none;
    font-size: 55px;
    color: #F18F43;
}

/*     Men's  Product        */

.h4men{
    font-size: 45px;
    text-align: center;
    padding-bottom: 15px;
}

.h4men a{
    text-decoration: none;
    color: black;
}

.h4men a:hover{
    color: #F18F43;
}

.section-men{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0px 50px 50px 50px;

}

.section-men .men-container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.section-men .men-pro{
    position: relative;
    width: 5%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid black;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 10px;
    background-color: wheat;
}

.section-men .men-pro:hover{
    box-shadow:black;
    transition: 0.3s ease;
    -webkit-transform: scale(1.05);
    z-index: 1;
}

.section-men img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.section-men .men-pro .des{
    text-align: start;
    padding: 10px 0;
}

.section-men .men-pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}

.section-men .men-pro h4{
    font-size: 15px;
    position: relative;
    top: 0px;
    font-weight: 700;
    color: #088178;
}

.section-men .men-pro a{
    color: #088178;
    position: absolute;
    left: 200px;
    bottom: 15px;

}

.section-men .men-pro a:hover{
    color: rgb(243, 181, 25);
}


/*     Women Product      */

.div1:hover {
    transition: 0.3s ease;
    -webkit-transform: scale(1.05);
}

.h4women{
    font-size: 45px;
    text-align: center;
    padding-bottom: 15px;
}

.h4women:hover{
    z-index: 1;
    overflow-x:auto;
}

.h4women a{
    text-decoration: none;
    color: black;
}

.h4women a:hover{
    color: rgb(232, 90, 90);
    -webkit-transform: scale(1.05);
    z-index: 1;
}

.section-women{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0px 50px 50px 50px;

}

.section-women .women-container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.section-women .women-pro{
    position: relative;
    width: 5%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid black;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 10px;
    background-color: wheat;
}

.section-women .women-pro:hover{
    box-shadow: 4;
    transition: 0.3s ease;
    -webkit-transform: scale(1.05);
    z-index: 1;
}

.section-women img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.section-women .women-pro .des{
    text-align: start;
    padding: 10px 0;
}

.section-women .women-pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}

.section-women .women-pro h4{
    font-size: 15px;
    position: relative;
    top: 0px;
    font-weight: 700;
    color: #088178;
}

.section-women .women-pro a{
    color: #088178;
    position: absolute;
    left: 200px;
    bottom: 15px;

}

.section-women .women-pro a:hover{
    color: rgb(243, 181, 25);
}


/*     Footwear     */

.div2:hover {
    transition: 0.3s ease;
    -webkit-transform: scale(1.05);
}

.footwear{
    font-size: 45px;
    text-align: center;
    padding-bottom: 40px;
}

.footwear a{
    text-decoration: none;
    color: black;
}

.footwear a:hover{
    color: #F18F43;
    -webkit-transform: scale(1.05);
    z-index: 1;
}

.section-footwear{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0px 50px 50px 50px;

}

.section-footwear .footwear-container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.section-footwear .footwear-pro{
    position: relative;
    width: 5%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid black;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 10px;
    background-color: wheat;
}

.section-footwear .footwear-pro:hover{
    box-shadow: 40px 40px 50px rgba(0,0,0,0.03);
    transition: 0.3s ease;
    -webkit-transform: scale(1.05);
    z-index: 1;
}

.section-footwear img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.section-footwear .footwear-pro .des{
    text-align: start;
    padding: 10px 0;
}

.section-footwear .footwear-pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}

.section-footwear .footwear-pro h4{
    font-size: 15px;
    position: relative;
    top: 0px;
    font-weight: 700;
    color: #088178;
}

.section-footwear .footwear-pro a{
    color: #088178;
    position: absolute;
    left: 200px;
    bottom: 15px;

}

.section-footwear .footwear-pro a:hover{
    color: rgb(243, 181, 25);
}


/*             Banner 2           */

.banner2{
    background-image: url("Images/Banner/10.jpg");
    position: relative;
    background-color: rgb(225, 219, 201);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode:multiply;
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
    top:50px;
    overflow: hidden;
}


.banner-de{
    position: relative;
    left: 50%;
}

.banner-de h2{
    font-size: 80px;
    color: rgb(232, 90, 90);
}

.banner-de h4{
    position: relative;
    left: 50px;
    font-size: 50px;
    color: whitesmoke;
    font-weight: 800;
}

.banner-de span{
    color: rgb(232, 90, 90);
}


.banner-de button{
    background-color: whitesmoke;
    color: black;
    font-size: 20px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    left: 250px;
    font-weight: 900;
    border-color: black;
}


.banner-de button:hover{
    background-color: rgb(232, 90, 90);
    color: whitesmoke;
}


/*       Limited Products     */
.div3:hover {
    transition: 0.3s ease;
    -webkit-transform: scale(1.2);
}

.h4limit{
    font-size: 45px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 15px;
    overflow-x: hidden;
}

.h4limit a{
    text-decoration: none;
    color: black;
}

.h4limit a:hover{
    color: #F18F43;
}

.section-limited{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0px 50px 50px 50px;

}

.section-limited .limit-container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.section-limited .limit-pro{
    position: relative;
    width: 5%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid black;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 10px;
    background-color: wheat;
}

.section-limited .limit-pro:hover{
    box-shadow: 4;
    transition: 0.3s ease;
    -webkit-transform: scale(1.05);
    z-index: 1;
}

.section-limited img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.section-limited .limit-pro .des{
    text-align: start;
    padding: 10px 0;
}

.section-limited .limit-pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}

.section-limited .limit-pro h4{
    font-size: 15px;
    position: relative;
    top: 0px;
    font-weight: 700;
    color: #088178;
}

.section-limited .limit-pro a{
    color: #088178;
    position: absolute;
    left: 200px;
    bottom: 15px;

}

.section-limited .limit-pro a:hover{
    color: rgb(243, 181, 25);
}


/*       Footer  Banner      */
#foot-banner{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 75px;
    margin-right: 75px;
    padding-top: 30px;
    padding-bottom:20px;
}
#foot-banner .banner-box  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("Images/Banner/12.jpg");
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#foot-banner .banner-box1{
    background-image: url("Images/Banner/13.jpg");
}

#foot-banner h4{
    color: whitesmoke;
    font-size: 20px;
    font-weight: 300;
}


#foot-banner .h2a{
    color: black;
    font-size: 28px;
    font-weight: 900;
}

#foot-banner .h2b{
    color: rgb(244, 207, 19);
    font-size: 28px;
    font-weight: 800;
}


#foot-banner span{
    color: whitesmoke;
    font-size: 14px;
    font-weight: 900;
    padding-bottom: 15px;
}


#foot-banner .button1{
    background-color: transparent;
    color: black;
    font-size: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    font-weight: 900;
    outline: none;
}

#foot-banner .button2{
    background-color: transparent;
    color: whitesmoke;
    font-size: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    font-weight: 900;
    outline: none;
}

#foot-banner .banner-box:hover .button1{
    background: black;
    border: 1px solid wheat;
    color: white;
}


#foot-banner .banner-box:hover .button2{
    background: rgb(244, 207, 19);
    border: 1px solid wheat;
    color: black;
}


/*        Text Banner       */

#banner-t{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px 80px;
    overflow-x: hidden;
}

#banner-t  .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("Images/Banner/5.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#banner-t  .banner-box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("Images/Banner/6.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}


#banner-t  .banner-box3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("Images/Banner/7.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}


#banner-t  .banner-box h2, .banner-box2 h2, .banner-box3 h2 {
    color: whitesmoke;
    font-weight: 900;
    font-size: 22px;
}


#banner-t  .banner-box h3, .banner-box2 h3, .banner-box3 h3{
    color: brown;
    font-weight: 900;
    font-size: 20px;
}

#banner-t  .banner-box:hover, .banner-box2:hover, .banner-box3:hover{
    -webkit-transform: scale(1.05);
    z-index: 1;
}


/*    Newsletter       */

#newsletter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-image: url("Images/Banner/14.png");
    background-repeat: no-repeat;
    background-position: 20% 30% ;
    background-color: #041e42;
    padding: 25px 30px 25px 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#newsletter h4{
    font-size: 22px;
    font-weight: 800;
    color: whitesmoke;
}

#newsletter p{
    font-size: 14px;
    font-weight: 700;
    color:  wheat;
}

#newsletter p span{
    color: rgb(215, 127, 11);
}

#newsletter .form{
    display: flex;
    width: 40%;
}

#newsletter input{
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#newsletter button{
    background-color: transparent;
    color: whitesmoke;
    font-size: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    font-weight: bolder;
    outline: none;
    white-space: nowrap;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#newsletter button:hover{
    background: rgb(215, 127, 11);
    border: 1px solid wheat;
    color: black;
}


/*      Footer      */
.section-footer{
    padding: 40px 80px;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
}


footer .col-foot{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{
    margin-bottom: 30px;
    font-size: 30px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 2px;
    color: whitesmoke;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
    color: whitesmoke;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: whitesmoke;
    margin-bottom: 10px;
}

footer  .follow{
    margin-top: 20px;
}

footer .follow i{
    color: wheat;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img{
    border: 1px solid  rgb(215, 127, 11);
    border-radius: 6px;
}

footer .install img{
    margin: 10px 0 15px 0;
    cursor: pointer;
}

footer a:hover{
    color: rgb(215, 127, 11);
}

footer #facebook:hover{
    color: blue;
}

footer #twitter:hover{
    color: blue;
}

footer #youtube:hover{
    color: red;
}

footer #instagram:hover{
    color: red;
}

footer #pinterest:hover{
    color: red;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

/*      Media Queries      */

/*  For Medium screen devices Devices    */

@media only screen and (max-width:799px) {
    .section-nav .nav ul li {
        padding: 10px 5px;
    }

    .banner2 {
       height: 40vh;
    }

    .banner-de {
        bottom: 30px;
    }

    .banner-de h2 {
        font-size: 40px;
    }

    .banner-de h4 {
        font-size: 25px;
        left: 0px;
    }

    .banner-de button {
        font-size: 10px;
        left: 100px;
    }

    #foot-banner .banner-box {
        min-width: 100%;
        height: 40vh;
        margin-bottom: 20px;
    }

    #banner-t {
        padding: 0px 40px;
        justify-content: space-around;
    }
}


/*      For Small Screen Devices       */

@media only screen and  (max-width: 477px){
    header .large{
        display: none;
    }

    .nav-bar{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .container_1 {
        justify-content: center;
    }

    .section-nav .nav .large{
        display: none;
    }

    .banner-intro {
        width: 100%;
        height: 70vh;
        padding-top: 15%;
    }

    .banner-intro :is(h4, h2) {
        font-size: 25px;
    }

    .banner-intro h1 {
        font-size: 40px;
    }

    .banner-intro :is(h4, h2) {
        font-size: 15px;
    }

    .banner-intro p {
        font-size: 10px;
        color: #F18F43;
    }

    .banner-intro button {
        font-size: 10px;
        left: 30px;
        top: 10px;
    }

    .section-feature {
        padding: 0px 10px;
        justify-content: space-around;
    }

    .fea-h2 h2 a {
        font-size: 35px;
    }

    .h4men,.h4limit, .footwear, .h4women {
        font-size: 25px;
    }

    .section-men, .section-footwear, .section-women,.section-limited {
        padding: 0px 20px;
    }

    .h4women {
        padding: 5px 0px;
    }

    .footwear {
        padding: 5px 0px;
    }

    .banner2 {
        padding: 120px 80px 0px 20px;
    }

    .banner-de h2 {
        font-size: 20px;
    }

    .banner-de h4 {
        font-size: 15px;
    }
    .banner-de button {
        left: 45px;
    }

    #foot-banner {
    
        margin-left: 40px;
        margin-right: 40px;
        padding-top: 30px;
        padding-bottom: 20px;
    }

    #foot-banner .banner-box {
        height: 50vh;
    }

    #newsletter .form {
        width: 100%;
    }
}
